@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.TreeTube {
    user-select: none;

    margin-left: 10px;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    display: inline-block;
    font-size: 40px;
    width: 150px;
    background: linear-gradient(to right, #1adb00 0%, #249b00 50%, #1adb00 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.videos {
    padding: 1vh 4vh;
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
    animation: fade ease-out 0.5s;
}


.video {
    user-select: none;
    width: 24vw;
    height: 300px;
    margin-right: 0.01vh;
    display: inline;
}

.video a {
    user-select: text;
    text-decoration: none;
    color: #000;
    margin-top: .5vh;
}

.video a h2 {
    user-select: text;
    text-decoration: none;
    color: #000;
    margin-top: .5vh;
}

.video a p {
    user-select: text;
    text-decoration: none;
    color: #9e9e9e;
}

.video a img {
    user-select: none;
    width: 90%;
    height: 220px;
    border-radius: 1vh;
}