<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatGPT</title>
    <!-- <link rel="icon" href="{{ url_for('static', filename='assets/icon.svg') }}"> -->
    <style>
        body {
            color: white;
            background-color: black;
        }
    </style>
    <title>ChatGPT</title>
</head>
<body>
    <h1 style="text-align: center;">Праил пока нет<br>Вы предоставляете свои данные для авторизации и мы их храним для вас</h1>
</body>
</html>